html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 255, 1);
  padding: 50px 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

*,
::after,
::before {
  box-sizing: inherit;
}

img {
  display: block;
  margin: 70px auto;
  max-width: 100%;
  pointer-events: none;
}

img:last-of-type {
  margin-bottom: 0;
}

#container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer p {
  margin: 5px 0;
  color: #000;
}

.footer a {
  color: #000;
}

#backTop {
  display: none;
  position: fixed;
  right: 8%;
  bottom: 80px;
  width: 54px;
  font-size: 12px;
  padding-top: 40px;
  text-align: center;
  border-left: 0;
  border-right: 0;
  background: #f6f6f6;
  padding-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 9999;
  transform: all 1s linear;
}

.arrow-icon {
  display: inline-block;
  position: relative;
  top: -40px;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(6px);
}

.arrow-icon::before,
.arrow-icon::after {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-top: 4px solid #ccc;
  border-left: 4px solid #ccc;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  transform: rotate(45deg);
}

.arrow-icon::after {
  top: 10px;
}

#backTop:hover {
  color: #007fff;
}

#backTop:hover .arrow-icon::before,
  #backTop:hover .arrow-icon::after {
  border-top-color: #007fff;
  border-left-color: #007fff;
}
